.container {
  padding: 4rem 6rem;
  margin-bottom: 2rem;
}

.gpt3__whatgpt3-heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0rem 0 0rem;
}
.gpt3__whatgpt3-heading .left__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.gpt3__whatgpt3-heading .left__container h1 {
  margin-bottom: 1rem;
}
.gpt3__whatgpt3-heading .left__container p {
  margin-bottom: 1rem;
}

.gpt3__whatgpt3-heading .image__container {
  width: 550px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gpt3__whatgpt3-heading div img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 850px) {
  .gpt3__whatgpt3-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0rem;
    padding: 0rem !important;
  }

  .gpt3__whatgpt3-heading p {
    margin-top: 1rem;
  }
  .gpt3__whatgpt3-heading .image__container {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .gpt3__whatgpt3-heading h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .container {
    padding: 4rem 2rem;
  }
}
